<nav class="navbar " role="navigation" aria-label="Navigation">
    <div class="navbar-brand">
        <a href="./index.html" class="navbar-item">
            <img src="./images/bulma-logo.png" alt="">
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a href="#" class="navbar-item">Dashboard</a>
            <a href="#" class="navbar-item">Settings</a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a href="#" class="navbar-link">Account</a>
                <div class="navbar-dropdown">
                    <a href="#" class="navbar-item">My Profile</a>
                    <a href="#" class="navbar-item">Credintials</a>
                    <a href="#" class="navbar-item">Logout</a>
                </div>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="#" class="button is-dark">Visit Website</a>
                    <a href="#" class="button is-danger">Logout</a>
                </div>
                
            </div>
        </div>
    </div>
</nav>
<section class="section hero is-primary" id="hero">
    <div class="media">
        <div class="media-left">
            <figure class="box image is-64x64">
                <span class="icon title is-marginless is-paddingless has-text-primary"><i class="fas fa-atom"></i></span>
            </figure>
        </div>
        <div class="media-content">
            <h2 class="title is-4">Welcome to Dashboard</h2>
            <p class="subtitle is-6">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, officiis?</p>
        </div>
    </div>
    <div class="is-divider"></div>
</section>
<section class="section" id="content">