<nav class="navbar " role="navigation" aria-label="Navigation">
    <div class="navbar-brand">
        <a href="./index.html" class="navbar-item">
            <img src="./images/bulma-logo.png" alt="">
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">

        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a href="#" class="button is-primary">Dashboard</a>
                    <a href="#" class="button is-danger">Logout</a>
                </div>
                
            </div>
        </div>
    </div>
</nav>
<section class="section" id="content">